body {
	background-color: #666666;
	pading: 0px;
	margin-top: Opx;
	margin-bottom: 0px;
	margin-right: 20px;
	margin-left: 20px;
}
#cadre {
	background-color: #ffffff;
	border: solid; 2px;
	padding: 20px;

}
header {

}
#tete1 {

}
#tete2 {

}
h1 {

}
nav {
	font-size: 20px;
	text-align :center;

}
nav span{

}
nav a {
	text-decoration: none;

}
nav a:hover{
	text-decoration: overline underline;

}
article {

}
h2 {

}
.date {

}
.poste {
	color:#000066;

}
.poste span {
	color:#333333;
	font-size: 12px;

}
.poste a {

}
.poste a:hover {

}
aside {

}
img {

}
#description {

}
footer {

}
a {

}
a:hover {

}
