body {
	background-color: #666666;
	padding: 0% 10% 0% 10%;
	margin: 0%;
}
#cadre {
	background-color: #ffffff;
	border: solid 3px;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	padding: 20px;
}
header {
	margin: 3px;
	padding: 6px 6px 85px 6px;
	color: #000066;
}
#tete1 {
	float: left;
}
#tete2 {
	float: right;
	text-align: right;
}
h1 {
	font-size: 18px;
	margin: 1px 0px 1px 0px;
}
nav {
	border: solid 1px;
	border-radius: 10px;
	font-size: 20px;
	text-align :center;
	margin: 3px;
	padding: 6px;
	background-color: #ffc354;
	clear: both;
}
nav span{
	Font-size: 25px;
}
aside {
	position: absolute;
	margin: 0px 65% 0px 0px;
	padding: 6px;
}
img {
	display:block;
	margin: auto;
	border: groove 4px #000066;
}
#description {
	text-align: justify;
	color:#000066;
}
article {
	margin: 3px 3px 3px 31%;
	padding: 6px;
	border-left: 3px double;
}
h2 {
	border-bottom:double 3px;
	color: #000044;
}
.date {
	font-weight: bold;
	color: #000044;
	margin-top: 10px;
}
.poste {
	border-top: dashed 1px #ffc354;
	border-bottom: dashed 1px #ffc354;
	color:#000066;
}
.poste span {
	color:#333333;
	font-size: 12px;
}
footer {
	margin: 3px;
	padding: 6px;
}
a {
	text-decoration: none;
	color: #6B90D3;
}
a:hover {
	text-decoration: overline underline;
	color: #666666;
}
.haut {
	display:block;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}
table {
	width: 640px;
}
td {
	width: 50%;
}
input {
	background-color: #ffc354;
	border-radius: 10px;
}
textarea {
	background-color: #ffc354;
	border-radius: 10px;
}
select{
	background-color: #ffc354;
	border-radius: 10px;
}
legend {
	color:#000044;
	font-weight: bold;
}
fieldset {
	border: groove 4px #000066;
	border-radius: 10px;
}
label {
	color:#000066;
	font-size: 14px;
}
.bouton {
	display:block;
	margin: auto;
}
iframe {
 	display:block;
	margin: auto;
	border: groove 4px #000066;
}
