@charset "utf-8";
body {
	background-color: #666666;
	padding: 0% 10% 0% 10%;
	margin: 0%;
	color: #000066;
}
a {
	text-decoration: none;
	color: #6B90D3;
}
a:hover {
	text-decoration: overline underline;
	color: #666666;
}
#cadre {
	background-color: #ffffff;
	border-right: solid 3px #000000;
	border-left: solid 3px #000000;
	padding: 20px;
}
header {
	margin: 3px;
	padding: 6px 6px 85px 6px;
}
#tete1 {
	float: left;
}
#tete2 {
	float: right;
	text-align: right;
}
h1 {
	font-size: 18px;
	margin: 1px 0px 1px 0px;
}
nav {
	border: solid 1px;
	border-radius: 10px;
	font-size: 20px;
	text-align : center;
	margin: 3px;
	padding: 6px;
	background-color: #ffc354;
	clear: both;
}
nav span {
	Font-size: 25px;
}
aside {
	position: absolute;
	margin: 0px 65% 0px 0px;
	padding: 6px;
}
img {
	display: block;
	margin: auto;
	border: groove 4px #000066;
}
#description {
	text-align: justify;
}
article {
	margin: 3px 3px 3px 31%;
	padding: 6px;
	border-left: 3px double #000000;
}
h2 {
	border-bottom: double 3px;
	color: #000044;
}
.date {
	font-weight: bold;
	color: #000044;
	margin-top: 10px;
}
.poste {
	border-top: dashed 1px #ffc354;
	border-bottom: dashed 1px #ffc354;
}
.poste span {
	color: #333333;
	font-size: 12px;
}
footer {
	margin: 3px;
	padding: 6px;
}
.haut {
	display: block;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}
/* Css Contact */
table {
	width: 640px;
}
td {
	width: 50%;
}
legend {
	color: #000044;
	font-weight: bold;
}
fieldset {
	border: groove 4px #000066;
	border-radius: 10px;
}
label {
	font-size: 14px;
}
fieldset input {
	background-color: #ffc354;
	border-radius: 10px;
}
fieldset textarea {
	background-color: #ffc354;
	border-radius: 10px;
}
fieldset select {
	background-color: #ffc354;
	border-radius: 10px;
}
.bouton {
	display: block;
	margin: auto;
}
iframe {
	display: block;
	margin: auto;
	border: groove 4px #000066;
}